<div class="container">
    <h2>Press New Words</h2>
    <div class="row">
        <form id="posts-add" class="col s12">
            <input type="hidden" id="user_id" value="{{sesh.user_id}}" />
            <div class="row">
                <div class="input-field col s12">
                    <input id="title" type="text" />
                    <label for="title">Title</label>
                </div>
                <div class="input-field col s12">
                    <textarea id="body" class="materialize-textarea"></textarea>
                    <label for="body">What's on your mind?</label>
                </div>
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light" type="submit">Press My Words
                        <i class="material-icons-outlined right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>